*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-image: url("images/patt.png");
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row, .main__row{
	margin-left: -15px;
	margin-right: -15px;
}
.row::after,.menu::after, .col-md-3::after,.main::after, .products__name::after,.products::after{
	content: "";
	clear: both;
	display: block;
}
.col-md-3{
	width: 25%;
	
}
.col-md-3 .search{
	float: left;
}
.col-md-3 .basket{
	float: right;
}
.col-md-6{
	width: 50%;
}
.col-md-9{
	width: 75%;
}
[class*="col-"]{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.logo{
	margin-top: 7px;
}
.menu{
	position: relative;
}
.menu>li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
	position: relative;
}
.menu>li:last-child{
	border-right: 1px solid #2c71b8;
}
i{
	position: absolute;
	top: 20px;
	right: 10px;
	transform: rotate(180deg);
	color: #2c71b8;
	font-size: 10px;
	transition: all 1s ease 0s;
}
.menu a{
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
	position: relative;
}
.menu li:hover a{
	background-color: #2c71b8;
	color: #ffffff;
}
.menu>li:hover i{
	color: #ffffff;
	transform: scale(1, 1);
}
.menu li:hover .sub-menu{
	display: block;
}
.sub-menu{
	display: none;
	position: absolute;
	background: #2c71b8;
	top: 100%;
	left: -1px;
	width: calc(200% + 3px);
	padding: 15px 0;
}
.sub-menu a{
	height: 40px;
	display: block;
	line-height: 40px;
	color: #ffffff;
	font-size: 21px;
	text-decoration: none;
	background: #2c71b8;
	text-align: start;
	padding-left: 30px;
	
}
.sub-menu li:hover a{
	background-color: #ffffff;
	color: #2c71b8;
}
.search{
	border: 1px solid #2c71b8;
	width: 200px;
	height: 40px;
	margin: 5px 0;
}
.form{
	width: 200px;
	padding: 0;
	margin: 0;
	font-weight: 300;
}
.form input{
	width: 140px;
   height: 30px;
   padding: 5px;
   margin-left: 20px;
   position: relative;
	top: -2px;
	background: transparent;
	border: transparent;
	font-size: 21px;
	color: #2c71b8;
	outline:none;
	font-family: 'Roboto';
	font-weight: 300;
}
.form input::placeholder{
	font-family: 'Roboto';
	color: #2c71b8;
}
.form button{
	width: 30px;
   height: 30px;
   padding: 0;
   margin: 0;
   position: relative;
	top: 4px;
	background: transparent;
}
.form button img{
	position: absolute;
   top: -2px;
	left: -2px;
	cursor: pointer;
}
.basket{
	position: relative;
	margin-top: 5px;
}
.basket img {
	cursor: pointer;
}
.basket span{
 	font-size: 10px;
	text-align: center;
	line-height: 20px;
	color: #ffffff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2c71b8;
	position: absolute;
	top: -10px;
	left: -10px;
}
/*main==============================================================================================================================================================*/
/*slider==============================================================================================================================================================*/
.slider {
	height: 400px;
	border-bottom: 1px solid #ffffff;
}
/*filter==============================================================================================================================================================*/
.filter {
	height: 840px;
	border-right: 1px solid #ffffff;
	background: rgba(255,255,255,0.15);
}
/*products==============================================================================================================================================================*/
.products__crumbs {
	margin-top: 30px;
	color: rgba(255,255,255,0.5);
}
.products__crumbs a:hover{
	text-decoration: underline;
}
.products__crumbs a{
	text-decoration: none;
	color: rgba(255,255,255,0.5);
	font-size: 14px;
}
.products__name {
	margin: 30px 0 45px 0;
}
.products__title {
	float: left;
	font-size: 48px;
	line-height: 40px;
	font-weight: 700;
	color: #ffffff;
}
.sort {
	float: right;
	width: 270px;
	height: 40px;
	background: transparent;
	border: 1px solid #ffffff;
	outline: none;
	background-color: #2c71b8;
	font-size: 21px;
	color: #ffffff;
	padding-left: 20px;
}

.sort option{
	font-size: 21px;
	color: #ffffff;
	background-color: #2c71b8;
	border: 1px solid #ffffff;
}

.products__column {
	float: left;
	width: 270px;
	margin: 15px 0;
}
.center{
	margin-left: 30px;
	margin-right: 30px;
}
.products__body {
	border: 1px solid #ffffff;
	color: #ffffff;
	font-size: 21px;
	width: 270px;
}
.body__img {
	background-color: rgba(255,255,255,0.75);
	width: 270px;
	height: 180px;
	position: relative;
	cursor: pointer;
}
.images {
	position: relative;
	z-index: 20;
}
.image__full {
	width: 30px;
	height: 30px;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid #2c71b8;
	background-image: url('images/icon2.png');
	background-repeat: no-repeat;
	background-position: center;
}
.image__full:hover {
	background-color: #2c71b8;
	background-image: url('images/icon4.png');
	cursor: pointer;
}
.image__like {
	width: 30px;
	height: 30px;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 50px;
	border: 1px solid #2c71b8;
	background-image: url('images/icon3.png');
	background-repeat: no-repeat;
	background-position: center;
}
.image__like:hover {
	background-color: #2c71b8;
	background-image: url('images/icon5.png');
	cursor: pointer;
}
.body__img::before, .body__img::after{
	content: "";
	width: 324px;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
   top: 88px;
}
.body__img::before{
	left: -28px;
	transform: rotate(33.5deg);
}
.body__img::after{
	right: -28px;
	transform: rotate(-33.5deg);
}
.body__img>img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
}
.body__title {
	margin: 15px 15px 0 15px;
	font-size: 30px;
	font-weight: 700;
}
.body__text {
	margin: 20px 15px 0 15px;
}
.bold{
	font-weight: 700;
}
.body__type {
	margin: 20px 15px 0 15px;
}
.body__size {
	margin: 20px 15px 0 15px;
}
.body__ram {
	margin: 20px 15px 0 15px;
}
.body__price {
	margin: 30px 15px 0 15px;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
}
.body__price span{
	font-size: 24px;
	vertical-align: super;
}
.body__details {
	margin: 25px 30px 0 30px;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ffffff;
	font-weight: bold;
}
.body__details:hover {
	cursor: pointer;
	background: rgba(255,255,255,0.15);
}
.body__add {
	margin: 15px 30px 30px 30px;
	text-transform: uppercase;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ffffff;
	font-weight: bold;
}
.body__add:hover {
	cursor: pointer;
	background: rgba(255,255,255,0.15);
}
.products__link{
	text-align: center;
	margin: 25px 0px 90px 0px;
}
.products__link a{
	text-decoration: none;
	font-size: 36px;
	color: #ffffff;
}
.products__link a:hover{
	text-decoration: underline;
}
/*footer==============================================================================================================================================================*/
.footer {
	background-color: rgba(255,255,255,0.70);
}
.footer__copyrights {
	text-align: center;
	
	padding: 40px 0;
}
.footer__link {
	color: #2c71b8;
	font-size: 21px;
	text-decoration: none;
}