*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row{
	margin-left: -15px;
	margin-right: -15px;
}
.row::after,.menu::after{
	content: "";
	clear: both;
	display: block;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
[class*="col-"]{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	padding: 15px 0;
	background-color: rgba(255,255,255,0.75);
}
.logo{
	margin-top: 7px;
}
.menu li{
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu a{
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
}
.menu a:hover{
	background-color: #2c71b8;
	color: #ffffff;
}
